#left_col
  %h1 Sourcebook
  #add_source_form
    %form{method: 'POST', action: '/new', id: "source_form"}
      %label{:for => 'author'}
        Author
      %input{:type => 'text', :name => 'author'}
      %br
      %label{:for => 'title'}
        Title
      %input{:type => 'text', :name => 'title'}
      %br
      %label{:for => 'url'}
        URL
      %input{:type => 'text', :name => 'url'}
      %br
      %label{:for => 'note'}
        Note (optional)
      %br
      %textarea{:name => 'note'}
      %br
      %a{id: "save_source", class: 'ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only', role: 'button'}
        %span{class: 'ui-button-text'}
          Save Source
      or
      %input{:type => 'reset'}
#right_col
  #source_list
    %h2 Your Sources
    %hr
    - @sources.each do|s|
      .source
        %a{:href => "#{s.url}", :class => 'title'}
          #{s.title}
        %p{:class => 'description'}
          = s.note            
          %a{class: 'delete_source', href: "/#{s.id}/delete" }
            delete
